
presentation/src/main/java/com/opssigo/opsicorp/module/example/adapterexample/

.gradle/
.idea/

local.properties

data/build/

presentation/build/

domain/build/

data/opsicorp-data.iml

domain/opsicorp-domain.iml

calendarlib/opsicorp-calendarlib.iml

rangeseekbar-library/opsicorp-rangeseekbar-library.iml

presentation/debug/
