<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.opsicorp.travelaja.feature_flight">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_feature_flight">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".detail_passanger.DetailPassengerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".filter.FilterFlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".filter.FlightFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flight_info.activity.FlightInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".result.ConfirmOrderFlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".result.DetailResultFlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".result.ResultSearchFlightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".flight_info.activity.FareRulesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".booking_contact.BookingContactFlight"
            android:screenOrientation="portrait" />


        <activity android:name=".ssr.BagageActivity">

        </activity>


        <activity android:name=".ssr.SsrActivity">

        </activity>
        <activity
            android:name=".ssr.SsrListActivity">

        </activity>

        <activity
            android:name=".ssr.FrequentFlyerActivity">
        </activity>

        <activity
            android:name=".seat_map.SeatActivityFlight"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".seat_map.SelectSeatActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".detail_cart.DetailCartActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".multi_city.FlightMultiCityListActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>