<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.opsicorp.digitravel.InitActivityPertamina"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--                <action android:name="${applicationId}.PertaminaIdamanActivity" />-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opsicorp.digitravel.PertaminaIdamanActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.PertaminaIdamanActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>
        <activity
            android:name="com.opsicorp.digitravel.EndSessionActivity"
            android:exported="true"/>
    </application>

</manifest>